{% if posts %}
    {% for post in posts %}
        <div class="post">
            <h3 class="text-primary">
                <a href="{{ url_for('blog.show_post', post_id=post.id) }}">
                    {{ post.title }}
                </a>
            </h3>

            <p>
                {{ post.body|striptags|truncate }}
                <small><a href="{{ url_for('blog.show_post', post_id=post.id) }}">Read More</a></small>
            </p>

            <small>
                Category:
                <a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">
                    {{ post.category.name }}
                </a>
                <span class="float-right" data-toggle="tooltip" data-placement="top" data-delay="500" data-timestamp="{{ post.timestamp }}">
                    {{ moment(post.timestamp).format('LL') }}
                </span>
            </small>

            {% if not loop.last %}
                <hr>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    {% import 'macros.html' as macros with context %}
    {{ macros.render_empty_message(message='No posts yet.', is_post=True) }}
{% endif %}
