{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block header %}
    <h1>Category: {{ category.name }}</h1>
    <p class="text-muted">{{ category.posts|length }} posts</p>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-8">
            {% include "blog/_post.html" %}
            {% if posts %}
                <div class="pt-5">{{ render_pagination(pagination) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 pl-4">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}
