{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block header %}
    <h1 class="display-3">
        Personal-Blog Title
    </h1>
    <h4 class="text-muted">
            &nbsp;Personal-Blog Sub Title
    </h4>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-8">
            {% include "blog/_post.html" %}
            {% if posts %}
                <div class="pt-5">{{ render_pagination(pagination) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 pl-4">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}
