{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header %}
    <h1>
        {{ post.title }}
        <span class="float-right"></span>
    </h1>
    <small>
        Category:
            <a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">
                {{ post.category.name }}
            </a>
            <br>
        Date: {{ moment(post.timestamp).format('LL') }}
    </small>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-8">
            {{ post.body|safe }}
            <hr>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#postLinkModal">
                Share
            </button>
            <!-- Modal -->
            <div class="modal fade" id="postLinkModal" tabindex="-1" role="dialog" aria-labelledby="postLinkModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="postLinkModalLabel">
                                Permalink
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" value="{{ url_for('blog.show_post', post_id=post.id, _external=True) }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="comment-form">
                {{ render_form(form) }}
            </div>
        </div>
        <div class="col-sm-4 pl-4">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}
