{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header %}
    <h1>
        {{ post.title }}
        <span class="float-right"></span>
    </h1>
    <small>
        Category:
            <a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">
                {{ post.category.name }}
            </a>
            <br>
        Date: {{ moment(post.timestamp).format('LL') }}
    </small>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-8">
            {{ post.body|safe }}
        </div>
        <div class="col-sm-4 pl-4">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}
