{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block header %}
    <h1>
        {{ post.title }}
        <span class="float-right"></span>
    </h1>
    <small>
        Category:
            <a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">
                {{ post.category.name }}
            </a>
            <br>
        Date: {{ moment(post.timestamp).format('LL') }}
    </small>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-8">
            {{ post.body|safe }}
            <hr>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#postLinkModal">
                Share
            </button>
            <!-- Modal -->
            <div class="modal fade" id="postLinkModal" tabindex="-1" role="dialog" aria-labelledby="postLinkModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="postLinkModalLabel">
                                Permalink
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" value="{{ url_for('blog.show_post', post_id=post.id, _external=True) }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="comments" class="comments my-4">
                <h3>
                    {{ comments|length }} Comments
                </h3>
                {% if comments %}
                    <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-1">
                                        <a href="{% if comment.site %}{{ comment.site }}{% else %}#{% endif %}" target="_blank">
                                            {% if comment.from_admin %}
                                                {{ admin.username }}
                                            {% else %}
                                                {{ comment.author }}
                                            {% endif %}
                                        </a>
                                        {% if comment.from_admin %}
                                            <span class="badge badge-primary">
                                                Author
                                            </span>
                                        {% endif %}
                                    </h5>

                                    <small data-toggle="tooltip" data-placement="top" data-delay="500" data-timestamp="{{ comment.timestamp }}">
                                        {{ moment(comment.timestamp).fromNow(refresh=True) }}
                                    </small>
                                </div>

                                <p class="mb-1">{{ comment.body }}</p>

                                <div class="float-right">
                                    <a class="btn btn-light btn-sm" href="#">
                                        Reply
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="tip">
                        <h5>
                            No comments.
                        </h5>
                    </div>
                {% endif %}
            </div>

            {% if comments %}
                {{ render_pagination(pagination, fragment='#comments') }}
            {% endif %}

            <div class="comment-form">
                {{ render_form(form) }}
            </div>
        </div>
        <div class="col-sm-4 pl-4">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}
