{% extends 'base.html' %}

{% block title %}
    Manage Categories
{% endblock %}

{% block header %}
    <h1>
        Categories
        <small class="text-muted">
            {{ categories|length }}
        </small>
        <span class="float-right">
            <a class="btn btn-primary btn-sm" href="{{ url_for('admin.new_category') }}">
                New Category
            </a>
        </span>
    </h1>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% if categories %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Posts</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a href="{{ url_for('blog.show_category', category_id=category.id) }}" target="_blank">
                                    {{ category.name }}
                                </a>
                            </td>
                            <td>
                                {{ category.posts|length }}
                            </td>
                            <td>
                                {% if category.id != 1 %}
                                    <a class="btn btn-info btn-sm" href="{{ url_for('admin.edit_category', category_id=category.id) }}">
                                        Edit
                                    </a>
                                    <form class="d-inline" action="{{ url_for('admin.delete_category', category_id=category.id) }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">
                                            Delete
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-muted">
                Tips: Deleting a category does not delete the article under that category.
                The articles under this category will be moved to the default category.
            </p>
        {% else %}
            <div class="tip">
                <h5>
                    No categories.
                </h5>
            </div>
        {% endif %}
    </div>
{% endblock %}
