{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            {{ post.title }}
            <span class="float-right"></span>
        </h1>
        <small>
            Category:
                <a href="{{ url_for('show_category', category_id=post.category.id) }}">
                    {{ post.category.name }}
                </a>
                <br>
            Date: {{ moment(post.timestamp).format('LL') }}
        </small>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {{ post.body|safe }}
        </div>
        <div class="col-sm-4 sidebar">
            {% include "_sidebar.html" %}
        </div>
    </div>
{% endblock %}
